---
title: "Booking"
---

<script src="./form-handler.js" type="module"></script>

<form id="bookingForm" method="POST" name="bookingForm" data-script-url={import.meta.env.SCRIPT_URL}>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required>

    <label for="arrival-date">Roatan Arrival Date:</label>
    <input type="date" id="arrival-date" name="arrivalDate" required>

    <label for="phone">Phone:</label>
    <input type="tel" id="phone" name="phone" required>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email">

    <label for="cruise-ship">Cruise Ship:</label>
    <input type="text" id="cruise-ship" name="cruiseShip" required>

    <label for="adults">The number of adults from 18+ years:</label>
    <input type="number" id="adults" name="adults" min="1" required>

    <label for="children1-5">The number of children ages 1 to 5 years:</label>
    <input type="number" id="children1-5" name="children1to5" min="0">

    <label for="children6-17">The number of children ages 6 to 17 years:</label>
    <input type="number" id="children6-17" name="children6to17" min="0">

    <label for="tour-package">Pick a tour package from the list:</label>
    <select id="tour-package" name="tourPackage" required>
        <option value="$35 PP | Build it">$35 PP | Build it</option>
        <option value="$69 PP | Family Day Tour">$69 PP | Family Day Tour</option>
        <option value="$75 PP | Wildlife Encounter">$75 PP | Wildlife Encounter</option>
        <option value="$99 PP | Boats-Horses-Beaches">$99 PP | Boats-Horses-Beaches</option>
        <option value="$65 PP | The Best of the West">$65 PP | The Best of the West</option>
        <option value="$109 PP | The Marvelous hidden East">$109 PP | The Marvelous hidden East</option>           
        <option value="$109 PP | Explore in 4 Wheels">$109 PP | Explore in 4 Wheels</option>           
        <option value="$95 PP | Jet ski Tour">$95 PP | Jet ski Tour</option>           
        <option value="$95 PP | ATV 4-Wheeler Tour">$95 PP | ATV 4-Wheeler Tour</option>           
        <option value="$95 PP | Zipline Tour">$95 PP | Zipline Tour</option>           
        <option value="$115 PP | Mangrove Tunel and ATV Adventure">$115 PP | Mangrove Tunel and ATV Adventure</option>           
        <!-- Agrega más opciones según los paquetes disponibles -->
    </select>

    <label for="message">Send a message:</label>
    <textarea id="message" name="message"></textarea>

    <button type="submit">Submit</button>
</form>

<style>
    form {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    input, select, textarea {
        width: 100%;
        padding: 8px;
        margin: 5px 0;
        color: var(--color-text); /* Usa la variable de color del texto según el tema */
        background-color: rgba(128, 128, 128, 0.163); /* Fondo según el tema */
        border-color: var(--color-border); /* Color del borde según el tema */
    }

    button {
        padding: 10px 20px;
    }
</style>